html.dark {
    --text-color: #FFFFFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(153deg) brightness(104%) contrast(104%);

    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #FFFFFF;

    // Sidebar
    --sidebar-bg: #292E39;

    // Hero
    --hero-bg: linear-gradient(180deg, #784BA0, #2B86C5 60%);

    // Popular
    --popular-item-bg: #171C28;
    --popular-item-shadow: rgba(0, 0, 0, 0.20);
}