.cartitems {
    margin: 100px 170px;

    hr {
        height: 3px;
        background: var(--text-color);
        border: 0;
    }

    &-format-main,
    &-format {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 75px;
        padding: 20px 0px;
        // color: #454545;
        font-size: 18px;
        font-weight: 600;
    }

    &-format {
        font-size: 17px;
        font-weight: 500;
    }

    &-product-icon {
        height: 62px;
    }

    &-remove-icon {
        padding: 20px;
        width: 14px;
        margin: 0 20px;
        cursor: pointer;
    }

    &-quantity {
        width: 64px;
        height: 50px;
        // border: 2px solid #ebebeb;
        // background: #fff;
    }

    &-down {
        display: flex;
        margin: 100px 0;
    }

    &-total {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 200px;
        gap: 40px;

        button {
            width: 262px;
            height: 58px;
            outline: none;
            border: none;
            background: #ff5a5a;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            h3 {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    &-promocode {
        flex: 1;
        font-size: 16px;
        font-weight: 500;

        p {
            // color: #555;
        }
    }

    &-promobox {
        display: flex;
        align-items: center;
        width: 504px;
        margin-top: 15px;
        padding-left: 20px;
        height: 58px;
        // background: #eaeaea;

        input {
            border: none;
            outline: none;
            background: transparent;
            font-size: 16px;
            width: 330px;
            height: 50px;
        }

        button {
            width: 170px;
            height: 58px;
            font-size: 16px;
            background: #000;
            color: #fff;
            cursor: pointer;
        }
    }
}
