.productdisplay {
    margin-top: 30px;
    display: flex;

    &-left {
        display: flex;
        gap: 17px;
    }

    &-img-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        img {
            height: 163px;
        }
    }

    &-main-img {
        width: 586px;
        height: 700px;
    }

    &-right {
        margin: 0 70px;
        display: flex;
        flex-direction: column;

        h1 {
            // color: #3d3d3d;
            font-size: 40px;
            font-weight: 700;
        }

        button {
            padding: 20px 40px;
            width: 200px;
            font-size: 16px;
            font-weight: 600;
            // color: #fff;
            background: #ff4141;
            margin-bottom: 40px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &-stars {
            display: flex;
            align-items: center;
            margin-top: 13px;
            gap: 5px;
            // color: #1c1c1c;
            font-size: 16px;
        }

        &-price {
            display: flex;
            margin: 40px 0;
            gap: 30px;
            font-size: 24px;
            font-weight: 700;

            &-old {
                color: #818181;
                text-decoration: line-through;
            }

            &-new {
                color: #ff4141;
            }
        }

        &-size {
            h2 {
                margin-top: 55px;
                // color: #656565;
                font-size: 20px;
                font-weight: 600;
            }

            &s {
                display: flex;
                margin: 30px 0;
                gap: 20px;

                div {
                    padding: 18px 24px;
                    // background: #fbfbfb;
                    border: 1px solid #ebebeb;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
        &-category {
            margin-top: 10px;
            span {
                font-weight: 600;
            }
        }
    }
}